@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-container{
    cursor: pointer;
    height: 4px;
    width: 100%;
}

.music-container{
    background-image: linear-gradient(#7b9fd7,#1c4075);
}

