@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-container{
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}
.progress{
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

/*.Aidan {
    background-image: linear-gradient(#3d5375,#151d29);
}

.Autumn_Sun {
    background-image: linear-gradient(#ba5333,#411d12);
}*/



